# Project exclude paths
/beans/target/
/core/target/

*/target/*
*/logs/*
*/conf/*.conf
pack-output/*
.settings
.classpath
.project
.pydevproject
.DS_Store
.idea
*.swp
*.iml
*.bak
*.o
*.obj
*.class
*.pyc
*.exe